name: Build Android APK
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Buildozer Action
        uses: kivy/buildozer-action@master
        with:
          workdir: .
          buildozer_version: stable

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: SteamApp-Package
          path: bin/*.apk
