name: Build Android APK
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install Buildozer dependencies
        run: |
          sudo apt update
          # Standard library list for Ubuntu 22.04/24.04
          sudo apt install -y git zip unzip openjdk-17-jdk python3-pip autoconf libtool pkg-config zlib1g-dev libncurses5-dev libncursesw5-dev cmake libffi-dev libssl-dev
          pip install --upgrade pip
          pip install buildozer cython

      - name: Build with Buildozer
        run: |
          # Removed 'yes |' to fix the Broken Pipe error
          # '-v' is used to see the full progress in the logs
          buildozer -v android debug

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: SteamApp-Package
          path: bin/*.apk
